#root {
  width: 45%;
  max-width: 700px;
  min-width: 420px;
  min-height: 650px;
  max-height: 800px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.header {
  display: flex;
  text-align: start;
  align-items: center;
  font-weight: 800;
  border-bottom: 5px solid orange;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header h1 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 2.5em;
  font-weight: bolder;
  line-height: 1.1;
}

.assgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.assgContainer p {
  font-weight: bold;
  font-size: 1.2em;
}

.pmarginBottom {
  margin-bottom: 100px;
}

.assgInput {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  height: 35px;
  padding: 5px;
}

.assgBtn {
  height: 3em;
}

/*
  This section includes css for elements that are associated
  with the dropdown menu for selecting assignments / courses.
*/

.dropdown {
  width: 80%;
  position: absolute;
  top: 25%;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.dropdown-header {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-body {
  max-height: 0;
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
}

.dropdown-body.open {
  max-height: 250px;
  display: block;
  overflow-y: auto;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

/* CSS For dropdown menu chevron icon */
.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}
